@font-face {
  font-family: "Baloo Da";
  src: url("fonts/BalooDa-Regular.ttf");
}
@font-face {
  font-family: "Yuanti SC";
  src: url("fonts/Yuanti-SC.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("fonts/Roboto-Black.html");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.html");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.html");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.html");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.html");
}

html {
  color: rgb(114, 47, 13);
  background-color: rgb(247, 248, 250);
}
html {
  font-size: 16px;
  font-variant: none;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
html,
input,
textarea,
button {
  font-family: "Inter var", sans-serif;
}
html,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.018em;
}
button {
  user-select: none;
}
* {
  box-sizing: border-box;
}
:root {
  --balloon-border-radius: 2px;
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-text-color: #fff;
  --balloon-font-size: 12px;
  --balloon-move: 4px;
}
body {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(255, 250, 242);
  background-image: url("images/image-bg2.jpg");
}
html,
body {
  margin: 0px;
  padding: 0px;
}
.bUpuBs {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow-x: hidden;
}
.dgkyWV {
  width: 100%;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.dKdZth {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  box-shadow: rgba(171, 133, 115, 0.16) 0px 2px 10px;
  position: relative;
  z-index: 100;
}
.bekrDb {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  padding: 0.5rem;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.bcBsLm {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.iWTNGH {
  transition: transform 0.3s ease 0s;
  cursor: pointer;
  margin-left: 12px;
}
.iWTNGH {
  cursor: pointer;
}
.cHIzWA {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  pointer-events: auto;
  margin-left: 40px;
}
.gZiitS {
  transition: transform 0.3s ease 0s;
  cursor: pointer;
}
.eKaZQa {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -moz-box-align: center;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
}
.kqOZFi {
  display: flex;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
}
.PDERw {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.cFFRKS {
  white-space: nowrap;
  width: fit-content;
  margin-left: 10px;
  pointer-events: auto;
}
.cQDweg {
  box-sizing: border-box;
  margin: 0px 10px 0px 0px;
  min-width: 0px;
  background-color: rgba(243, 132, 30, 0.05);
  color: rgb(243, 132, 30);
  font-weight: 500;
  width: fit-content;
  border-radius: 10px;
  padding: 8px 12px;
}
.kGTDoE {
  display: flex;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  background-color: rgb(238, 217, 204);
  border-radius: 10px;
  white-space: nowrap;
  width: 100%;
}
.css-8visvh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
  font-weight: 500;
}
.jEUCSV {
  text-align: center;
  outline: currentcolor none medium;
  font-family: Baloo Da;
  text-decoration: none;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -moz-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  background-color: rgb(247, 248, 250);
  border: 1px solid rgb(238, 217, 204);
  color: rgb(114, 47, 13);
  font-weight: 500;
}
.jEUCSV:hover {
  background-color: rgba(172, 86, 42, 0.44);
}
.jEUCSV:hover,
.jEUCSV:focus {
  background-color: rgb(255, 255, 255);
}
.jEUCSV > * {
  user-select: none;
}
.ebgzzQ {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0.5rem 0px 0.25rem;
  font-size: 1rem;
  width: fit-content;
  font-weight: 500;
  font-family: Baloo Da;
}
.hcAzGS {
  height: 1rem;
  width: 1rem;
  border-radius: 1.125rem;
  background-color: rgb(206, 208, 217);
}
.eRTwLR {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.bYYqoe {
  margin-left: 0.5rem;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  border: medium none;
  text-align: left;
}
.fCVYuL {
  position: relative;
  width: 100%;
  border: medium none;
  margin: 0px;
  height: 35px;
  background-color: rgb(238, 217, 204);
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
}
.kDPYLZ {
  height: 20px;
  width: 20px;
}
.fCVYuL svg {
  margin-top: 2px;
}
.eqmiNA {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -moz-box-pack: justify;
  justify-content: space-between;
  flex: 1 1 auto;
}
.cQAcLF {
  display: flex;
  flex-flow: row nowrap;
  transition: width 0.15s linear 0s;
}

.bTiWHI {
  width: 268px;
  height: calc(-61px + 100vh);
  overflow: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  box-shadow: rgba(171, 133, 115, 0.16) 0px 2px 10px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  position: relative;
  z-index: 1;
}
.kpXpik {
  position: relative;
  color: rgb(117, 77, 56);
  text-decoration: none;
  white-space: nowrap;
  display: block;
  padding: 0px 20px;
  height: 54px;
  line-height: 54px;
  margin: 10px 0px;
}
.kpXpik:hover {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      305.04deg,
      rgb(255, 246, 179) -43.12%,
      rgb(255, 176, 103) 70.33%
    )
    repeat scroll 0% 0%;
}
.gZWqcc {
  vertical-align: middle;
}
.htHvGK {
  margin-left: 8px;
  vertical-align: middle;
}
.behxId {
  position: relative;
  color: rgb(117, 77, 56);
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  padding: 0px 20px;
  height: 54px;
  line-height: 54px;
  cursor: pointer;
}
.behxId:hover {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      305.04deg,
      rgb(255, 246, 179) -43.12%,
      rgb(255, 176, 103) 70.33%
    )
    repeat scroll 0% 0%;
}
.bUNUQb {
  position: absolute;
  right: 12px;
  top: 8px;
  bottom: 0px;
  margin: auto;
}
.kpXpik.ACTIVENAV {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      305.04deg,
      rgb(255, 214, 0) -43.12%,
      rgb(255, 122, 0) 70.33%
    )
    repeat scroll 0% 0%;
  position: relative;
}
.fyaOpU {
  color: rgb(78, 55, 90);
  position: relative;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  padding: 0px 20px;
  height: 54px;
  line-height: 54px;
}
.fyaOpU:hover {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      305.04deg,
      rgb(255, 246, 179) -43.12%,
      rgb(255, 176, 103) 70.33%
    )
    repeat scroll 0% 0%;
}
.bpvxnK {
  text-decoration: none;
  cursor: pointer;
  color: rgb(172, 86, 42);
  font-weight: 500;
}
.irWKoY {
  color: rgb(117, 77, 56);
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0px 20px;
  height: 54px;
  line-height: 54px;
  margin: 10px 0px;
  margin-left: 0px;
  white-space: nowrap;
}
.irWKoY.galleryAboutLink {
  height: 50px;
  line-height: 50px;
  display: inline;
  padding: 0px;
  margin-left: 8px;
  color: rgb(78, 55, 90);
}
.irWKoY.galleryAboutLink:hover {
  color: rgb(255, 255, 255);
}
.bpvxnK:hover {
  text-decoration: underline;
}
.irWKoY:hover {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      305.04deg,
      rgb(255, 246, 179) -43.12%,
      rgb(255, 176, 103) 70.33%
    )
    repeat scroll 0% 0%;
}
.drSCbm {
  width: 244px;
  background: rgb(255, 253, 250) none repeat scroll 0% 0%;
  box-shadow: rgba(171, 133, 115, 0.16) 0px 2px 10px;
  height: calc(-62px + 100vh);
  overflow: auto;
  color: rgb(117, 77, 56);
  transition: width 0.1s linear 0s;
}
.drSCbm.hideCollectionList {
  width: 0px;
  overflow: hidden;
}
.bLDQCz {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(238, 217, 204);
  box-sizing: border-box;
  padding: 20px;
}
.dMkYnr {
  margin-top: 8px;
  cursor: pointer;
}
.jRKToQ {
  padding: 0px 20px;
  box-sizing: border-box;
}
.iXwAge {
  width: calc(100% - 208px);
  height: calc(-62px + 100vh);
  overflow: auto;
}
.eScRiI {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  -moz-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  overflow: hidden auto;
  z-index: 1;
}
.hmoZve {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 20px;
  position: fixed;
  top: 64px;
  right: 1rem;
  width: 100%;
  z-index: 2;
  max-width: 355px !important;
}
.Zdrfh {
  position: relative;
  max-width: 100%;
  height: 0px;
  margin: 0px;
  display: none;
}
.jTpnNj {
  height: 99%;
  overflow: auto hidden;
  display: flex;
  flex-direction: row;
}
.jhbSWw {
  text-align: center;
}
.gMlAVx {
  font-family: Baloo Da;
  color: rgb(114, 47, 13);
}
.css-xv7cdu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 32px;
  font-weight: 700;
}
.odGBL {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  font-family: Baloo Da;
  width: 892px;
  margin-bottom: 40px;
}
.keAeEt {
  position: relative;
  color: rgb(214, 164, 133);
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 60px;
}
.keAeEt.ACTIVENAV {
  color: rgb(114, 47, 13);
  font-size: 22px;
}
.lbQjYv {
  position: absolute;
  top: -10px;
  left: calc(100% - 15px);
  width: auto;
}
.keAeEt.ACTIVENAV::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgb(114, 47, 13) none repeat scroll 0% 0%;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.keAeEt {
  position: relative;
  color: rgb(214, 164, 133);
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 60px;
}
.css-6z68fw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 700;
  font-family: Baloo Da;
}
.iXuTqc {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  width: 894px;
  margin-bottom: 40px;
  font-family: Yuanti SC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.ftLeoF {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  -moz-box-align: center;
  align-items: center;
  background: rgb(255, 249, 240) none repeat scroll 0% 0%;
}
.bMNWii {
  margin-left: 10px !important;
  white-space: nowrap;
  width: auto;
  font-size: 24px;
  font-weight: 400;
  font-family: Baloo Da;
}
.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.gdZfYM {
  white-space: nowrap;
  width: auto;
  color: rgb(214, 164, 133);
  margin-left: 10px !important;
  font-size: 13px;
  font-weight: 700;
}
.lllMTV {
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  outline: currentcolor none medium;
  border: 1px solid transparent;
  font-family: Baloo Da;
  text-decoration: none;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgb(172, 86, 42);
  color: rgb(255, 253, 250);
  height: 30px;
  line-height: 30px;
  padding: 0px;
  margin-left: 20px;
  width: 100px;
  font-size: 14px;
}
.lllMTV:hover {
  background-color: rgb(152, 76, 37);
}
.czWBOA {
  display: flex;
  padding: 10px 20px 10px 0px;
  border-radius: 10px;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: end;
  justify-content: flex-end;
  background: rgb(255, 249, 240) none repeat scroll 0% 0%;
}
.jeTAgi {
  margin-left: 10px !important;
  white-space: nowrap;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  color: rgb(172, 86, 42);
}
.czWBOA img {
  margin-left: 10px;
  cursor: pointer;
}
.bKdZQA {
  display: flex;
  -moz-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 894px;
  cursor: pointer;
}
.bBzOzb {
  background: rgb(255, 253, 250) none no-repeat scroll right top;
  border-radius: 20px;
  position: relative;
  width: 282px;
  margin-bottom: 24px;
  padding: 24px;
  border: 2px solid rgb(172, 86, 42);
  color: rgb(197, 133, 96);
}
.bBzOzb:not(:nth-child(3n)) {
  margin-right: 23px;
}
.gVyiuR {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 75px;
  height: 75px;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 50%,
      rgb(172, 86, 42) 51%,
      rgb(172, 86, 42) 100%
    )
    repeat scroll 0% 0%;
  border-top-right-radius: 20px;
}
.kGupyk {
  position: absolute;
  top: 10px;
  right: 10px;
}
.gHkqml {
  text-align: center;
}
.fJhSop {
  font-family: Baloo Da;
  color: rgb(114, 47, 13);
  text-align: center;
  margin-bottom: 24px;
  white-space: nowrap;
}
.css-2tt9xh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 28px;
  font-weight: 600;
}
.tSsQk {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}
.dlxdfv {
  min-height: 27px;
  color: rgb(114, 47, 13);
  margin-top: -3px;
  max-width: 195px;
}
.css-o8yhuq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  font-family: Baloo Da;
}
.idVSmq {
  position: relative;
}
.cMMZWR {
  width: 100%;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  outline: currentcolor none medium;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgb(172, 86, 42);
  color: rgb(255, 253, 250);
  font-family: Baloo Da;
  margin: 32px auto 0px;
  padding: 6px 16px;
}
.cMMZWR:hover {
  background-color: rgb(152, 76, 37);
}
.kmuIRO {
  margin-top: 5rem;
}
.iWTNGH {
  margin-right: 20px;
}
.cHIzWA {
  margin-left: 0;
}
.side-nav {
  display: flex;
}

@media (max-width: 1280px) {
  .odGBL {
    width: 100%;
    flex-wrap: wrap;
    -moz-box-pack: center;
    justify-content: center;
  }
  .iXuTqc {
    width: 90%;
  }
  .bKdZQA {
    -moz-box-align: center;
    align-items: center;
    justify-content: space-around;
    width: 90%;
  }
}
.cFItLy {
  color: rgb(197, 133, 96);
  text-align: center;
  margin-bottom: 50px;
}
.jWmuoE {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 26px;
  width: 100%;
}
.kmuIRO {
  margin-top: 5rem;
}
.jTpnNj {
  height: 99%;
  overflow: auto hidden;
  display: flex;
  flex-direction: row;
}
.css-xv7cdu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 32px;
  font-weight: 700;
}
.css-1pfyy1z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: 500;
}
.dqKBpx {
  background: right top no-repeat rgb(255, 253, 250);
  border-radius: 20px;
  width: 362px;
  position: relative;
  color: rgb(197, 133, 96);
  text-align: center;
  padding: 24px;
}
.cJDENq {
  margin: 8px 0px 16px;
}
.css-rix33m {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 36px;
  font-weight: 700;
}
.css-rpsf7h {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: 600;
}
.jLYjCO:disabled {
  background-color: rgb(238, 217, 204);
  color: rgb(255, 253, 250);
  cursor: auto;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  opacity: 1;
}
.lomes {
  display: flex;
  align-items: center;
}
.lolus {
  margin-right: 10px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  background-color: rgb(238, 217, 204);
  color: rgb(255, 253, 250);
  cursor: auto;
  box-shadow: none;
  border: 1px solid transparent;
  position: relative;
  font-family: "Baloo Da";
  height: 39px;
  padding: 0px 16px;
}
#balance {
  display: flex !important;
}
#amountBalance {
  margin: 0 5px;
}
.dREsTz {
  width: 30px !important;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  background-color: rgb(172, 86, 42);
  color: rgb(255, 253, 250);
  position: relative;
  flex: 1 1 0%;
  font-family: "Baloo Da";
  height: 48px;
  padding: 0px 16px;
}
.css-25ozbh {
  box-sizing: border-box;
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  width: 5px;
}
.mask {
  width: 100% !important;
}
.mesu {
  width: 39px !important;
  min-width: 39px;
}
.faVZvI {
  color: rgb(114, 47, 13);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .mes {
    margin-top: 20px;
  }
}
@media (max-width: 960px) {
  .bcBsLm {
    -moz-box-align: center;
    align-items: center;
    width: 100%;
  }
  .kqOZFi {
    -moz-box-align: center;
    align-items: center;
    align-self: center;
  }
  .cQAcLF {
    position: absolute;
    z-index: 99;
  }
  .cQAcLF.ACTIVENAV {
    width: 0px;
  }
  .bTiWHI.ACTIVENAV::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
  }
  .bTiWHI.ACTIVENAV::after {
    content: "";
    position: fixed;
    width: 268px;
    z-index: -1;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    left: 0px;
    height: calc(-61px + 100vh);
    top: 61px;
  }
  .iXwAge {
    width: 100%;
  }
  .iXwAge.ACTIVENAV {
    width: 100%;
  }
  .eScRiI {
    padding-top: 0px;
  }
  .odGBL {
    width: 100%;
    flex-wrap: wrap;
    -moz-box-pack: center;
    justify-content: center;
  }
  .bKdZQA {
    width: 90%;
    justify-content: space-around;
    -moz-box-align: center;
    align-items: center;
  }
  .bBzOzb:not(:nth-child(3n)) {
    margin-right: 0px;
  }
  .fJhSop > div {
    font-size: 26px;
  }
  .css-8visvh,
  .side-nav {
    display: none;
  }
  .iWTNGH {
    display: block;
  }
  /*.cHIzWA {
    margin-left: 40px;
  }*/
}

@media (max-width: 600px) {
  .bTiWHI {
    overflow-x: auto;
  }
  .kpXpik {
    margin-left: 0px;
  }
  .hmoZve {
    display: none;
  }
  .Zdrfh {
    display: block;
  }
  .keAeEt {
    margin-right: 16px;
  }
}

@media (max-width: 500px) {
  .dKdZth {
    width: calc(100%);
    position: relative;
  }
  .eKaZQa {
    display: none;
  }
  .eScRiI {
    padding: 16px;
  }
  .iXuTqc {
    width: 90%;
    flex-direction: column;
  }
  .ftLeoF {
    width: 90%;
  }
  .czWBOA {
    width: 90%;
    margin-top: 10px;
  }
}

.depositModal {
  border-radius: 36px !important;
  width: 64% !important;
  margin: auto;
}
.depositModal .modal-header {
  background-color: #f5f8f9 !important;
  border-top-left-radius: 36px !important;
  border-top-right-radius: 36px !important;
}
.stakeColor {
  font-weight: 600;
  color: #984c25;
}
.imgs {
  height: 54px;
}
.stakeinput {
  background-color: #f5f8f9 !important;
  font-weight: 600 !important;
  color: #984c25 !important;
  border-radius: 14px !important;
  padding: 33px 19px !important;
}
.cnf {
  background-color: #984c25;
  border-radius: 10px;
  color: white;
  border: 1px solid #984c25;
  padding: 5px 10px;
}
.bb:hover {
  color: white !important;
  text-decoration: none;
}
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: #984c25;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-lists {
  /* background: #ededed; */
  display: none;
  padding: 15px 0;
}

.tab-lists.current {
  display: inherit;
}
.max-btn {
  position: absolute;
  right: 12px;
  top: 5px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

dl {
  z-index: 999;
}
@media screen and (max-width: 500px) {
  .dropdown img.flag {
    width: 25px;
    height: 25px;
  }
  .token-ido-card__aside {
    margin-left: 0;
    margin-right: 0;
  }
}
.rotate {
  transform: rotate(180deg);
}
.displayContacts {
  display: none;
}
.cUwyDd {
  position: relative;
  max-width: 420px;
  width: 100%;
  background: rgb(255, 253, 250);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 20px;
  padding: 1rem;
  z-index: 2;
}
.fzbdmB {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3rem;
  justify-content: space-evenly;
}
.bDYgnc.ACTIVE {
  border-radius: 12px;
  font-weight: 500;
  color: rgb(114, 47, 13);
}
.bDYgnc {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: "Baloo Da";
  height: 3rem;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(214, 164, 133);
  font-size: 20px;
}
.dHPkwG {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}
.dJAAhE {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(114, 47, 13);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1rem 0px;
}
.jcUczv {
  border-radius: 20px;
  background-color: rgb(255, 249, 240);
}
.eMAFhX {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 20px;
  background-color: rgb(247, 248, 250);
  z-index: 1;
}
.drAiDs {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
}
.iGVbnZ {
  position: relative;
}
.dHPkwG {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}
.bxLVaB {
  color: rgb(114, 47, 13);
  width: 0px;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background: none;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  appearance: textfield;
}
.dbbWPm {
  height: 28px;
  background-color: rgb(172, 86, 42);
  border: 1px solid rgb(172, 86, 42);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-family: "Baloo Da";
  font-weight: 500;
  cursor: pointer;
  margin-right: 0.5rem;
  color: rgb(255, 253, 250);
}
.fwsaKC {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.cTkuCR {
  width: 24px;
  height: 24px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  border-radius: 24px;
}
.eUhIcK {
  margin: 0px 0.25rem 0px 0.75rem;
  font-size: 20px;
  font-family: "Baloo Da";
}
.ljNpND {
  margin: 0px 0.25rem 0px 0.5rem;
  height: 35%;
}
.ljNpND path {
  stroke: rgb(114, 47, 13);
  stroke-width: 1.5px;
}
.gakftj {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(255, 253, 250);
  color: rgb(114, 47, 13);
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
}
.jWrWXz {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(172, 86, 42);
  color: rgb(255, 243, 224);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
}
.css-1rhdhic {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(86, 90, 105);
}
.dwuQjX {
  width: fit-content;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gpRzhW {
  margin: 0px 0.25rem;
  font-size: 14px;
  font-family: "Baloo Da";
}
.cHaLsM {
  max-width: 420px;
  padding-top: 24px;
  color: rgb(197, 133, 96);
  text-align: justify;
}
.css-16ymp0l {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 15px;
}
.cHaLsM a {
  color: rgb(136, 80, 52);
}
.jsQytt {
  margin-top: 1rem;
}
.ctcmPi:disabled {
  background-color: rgb(238, 217, 204);
  color: rgb(255, 253, 250);
  cursor: auto;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  opacity: 1;
}
.css-10ob8xa {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 20px;
  font-weight: 500;
}
.ctcmPi {
  padding: 12px 18px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  font-family: "Baloo Da";
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgb(172, 86, 42);
  color: rgb(255, 253, 250);
}
.dkzats {
  box-sizing: border-box;
  margin: 0px;
  /*min-width: 0px;*/
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  padding: 8px 16px;
  color: white;
  border: 0px;
  border-radius: 4px;
}
.cHaLsM {
  max-width: 420px;
  padding-top: 50px;
  color: rgb(197, 133, 96);
  text-align: justify;
}
.ilkcNQ {
  text-align: center;
  outline: none;
  font-family: "Baloo Da";
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: rgb(172, 86, 42);
  border: 1px solid rgba(172, 86, 42, 0.44);
  color: rgb(255, 253, 250);
}
.ebgzzQ {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0.5rem 0px 0.25rem;
  font-size: 1rem;
  width: fit-content;
  font-weight: 500;
  font-family: "Baloo Da";
}
.dcIYMW {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 253, 250);
  border-radius: 10px;
  white-space: nowrap;
  width: 100%;
}
#pool-nav-link:hover {
  color: #d6a485;
}
.fTJuWL[data-reach-dialog-overlay] {
  z-index: 2;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.bDfTLp[data-reach-dialog-content] {
  margin: 0px 0px 2rem;
  border: 1px solid rgb(255, 253, 250);
  background-color: rgb(255, 253, 250);
  box-shadow: rgb(47 128 237 / 5%) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: center;
  max-width: 420px;
  max-height: 4000px;
  min-height: 352px;
  display: flex;
  border-radius: 20px;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: #fff;
  padding: 2rem;
  outline: none;
}
.brIlRI {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.icypvD {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 14px;
  padding: 20px 20px 12px;
}
.ivzFVn {
  width: 100%;
  height: 1px;
  background-color: rgb(247, 248, 250);
}
.NjURT {
  position: relative;
  display: flex;
  padding: 16px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  background: none;
  outline: none;
  border-radius: 10px;
  color: rgb(114, 47, 13);
  border: 1px solid rgb(238, 217, 204);
  appearance: none;
  font-size: 18px;
  transition: border 100ms ease 0s;
}
.css-1pfyy1z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: 500;
}
.kjGhEu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
  background-color: rgb(247, 248, 250);
  color: rgb(114, 47, 13);
  border-radius: 8px;
  user-select: none;
}
.css-1pfyy1z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: 500;
}
.css-xy7yfl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 16px;
}
.css-xy7yfl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 16px;
}
.cngZzg {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 20px;
  height: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
  gap: 16px;
  cursor: pointer;
  opacity: 0.5;
}
.jIvWLI {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 20px;
  height: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
  gap: 16px;
  cursor: pointer;
  opacity: 1;
}
.kfsqVQ {
  width: 24px;
  height: 24px;
}
.brIlRI {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.css-8mokm4 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
}
.hhCPFv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  color: rgb(172, 86, 42);
  font-size: 14px;
}
.visible {
  display: none;
}
.lols {
  height: 3528px;
  width: 100%;
}
.lolss {
  flex: 1 1 0%;
  position: relative;
}
.lol {
  transition: all 0.3s ease 0s;
}
@media (max-width: 600px) {
  .bDfTLp[data-reach-dialog-content] {
    width: 85vw;
  }
  .lols {
    height: 352px;
    width: 100%;
  }
  .lolss {
    height: 352px !important;
  }
}
@media (max-width: 960px) {
  .bDfTLp[data-reach-dialog-content] {
    width: 65vw;
    margin: 0px;
  }
}

.hCYwpq {
  padding-top: 16px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(86, 90, 105);
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  transition: all 300ms ease-in-out 0s;
}
.drAiDs {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
}
.fGZvxD {
  display: grid;
  grid-auto-rows: auto;
}
.etBEUW {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
}
.css-1pnt2fu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  color: rgb(86, 90, 105);
  font-size: 14px;
}
.xkrrd {
  display: inline-block;
}
.eKTHYu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.2rem;
  border: none;
  background: none rgb(247, 248, 250);
  outline: none;
  cursor: default;
  border-radius: 36px;
  color: rgb(86, 90, 105);
}
.css-1z0vbpq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  color: rgb(114, 47, 13);
  font-size: 14px;
}
.css-1aekuku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
}
.iQVfOe {
  color: rgb(39, 174, 96);
}
.css-1pnt2fu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  color: rgb(86, 90, 105);
  font-size: 14px;
}
.bcpqQH {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 767px) {
  .dqKBpx:first-child {
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .dqKBpx:first-child {
    margin-right: 0px;
  }
  #desktop-amount {
    display: none;
  }
  #mobile-amount {
    display: "";
  }
}
@media screen and (min-width: 767px) {
  #desktop-amount {
    display: "";
  }
  #mobile-amount {
    display: none;
  }
}
