.kFxxhc[data-reach-dialog-overlay] {
  z-index: 2;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.424);
}
[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
@media (max-width: 600px) {
  .gnMdBc[data-reach-dialog-content] {
    width: 100vw;
    border-radius: 20px 20px 0px 0px;
  }
}

@media (max-width: 960px) {
  .gnMdBc[data-reach-dialog-content] {
    width: 65vw;
    margin: 0px;
  }
}
.gnMdBc[data-reach-dialog-content] {
  border: 1px solid rgb(50, 41, 37);
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: flex-end;
  max-width: 420px;
  max-height: 90vh;
  display: flex;
  border-radius: 20px 20px 0 0;
  width: 100% !important;
}
.bsXnuc {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.hOODBr {
  position: relative;
}
.hdLtfm {
  position: absolute;
  right: 1rem;
  top: 14px;
}
@media (max-width: 960px) {
  .gSGJvT {
    padding: 1rem;
  }
}
.gSGJvT {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  font-weight: 500;
  color: inherit;
  color: #8c4804;
}
@media (max-width: 960px) {
  .gnWoOf {
    padding: 1rem;
  }
}
.gnWoOf {
  background-color: #f2f2f1;
  padding: 4rem 2rem;
}
.hOODBr h5:last-child {
  margin-bottom: 0px;
}

.hOODBr h5 {
  margin: 0px 0px 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #8c4804;
}
@media (max-width: 960px) {
  .gnWoOf {
    padding: 1rem;
  }
}
.hOODBr h5:last-child {
  margin-bottom: 0px;
}

.hOODBr h5 {
  color: #8c4804;
  margin: 0px 0px 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
