* {
  font-family: sans-serif !important;
}
.eScRiI {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  overflow: hidden auto;
  z-index: 1;
}
.hmoZve {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 20px;
  position: fixed;
  top: 64px;
  right: 1rem;
  width: 100%;
  z-index: 2;
  max-width: 355px !important;
}
.Zdrfh {
  position: relative;
  max-width: 100%;
  height: 0px;
  margin: 0px;
  display: none;
}
.jTpnNj {
  height: 99%;
  overflow: auto hidden;
  display: flex;
  flex-direction: row;
}
.lnwdNM {
  width: 100%;
}
.detcAZ {
  max-width: 1184px;
  margin: 0px auto;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
.haesCA {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 24px 0px 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 40px;
  color: rgb(85, 50, 32);
  font-family: Roboto-Bold;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.css-xn4uvp {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 40px;
  color: rgb(85, 50, 32);
  font-family: Roboto-Bold;
}
.dtXuQJ {
  display: flex;
}
.bxYcrp {
  color: rgb(255, 255, 255);
  font-family: Roboto-Bold;
  padding: 0px;
  border: none;
  font-size: 14px;
  width: 172px;
  height: 40px;
  flex-shrink: 0;
  align-self: flex-start;
  background: linear-gradient(
    305.04deg,
    rgb(255, 214, 0) -43.12%,
    rgb(255, 122, 0) 70.33%
  );
  border-radius: 35px;
  margin-right: 8px;
}
.css-1hf8ste {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(85, 50, 32);
}
.kkQGOL {
  box-sizing: border-box;
  margin: 0px 0px 0px -30px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 30px 0px 5px;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.kmuIRO {
  margin-top: 5rem;
}
.bldziI:first-child {
  border: none;
}
.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.bldziI {
  position: relative;
  width: 92px;
  font-family: Roboto-Bold;
  font-size: 22px;
  text-align: center;
  border-right: 1px solid rgba(177, 177, 177, 0.41);
  cursor: pointer;
}
.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.bldziI {
  position: relative;
  width: 92px;
  font-family: Roboto-Bold;
  font-size: 22px;
  text-align: center;
  border-right: 1px solid rgba(177, 177, 177, 0.41);
  cursor: pointer;
}
.bldziI.ACTIVELEVEL {
  color: transparent;
  background: linear-gradient(to right, rgb(255, 214, 0), rgb(255, 122, 0)) text;
}
.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.bldziI {
  position: relative;
  width: 92px;
  font-family: Roboto-Bold;
  font-size: 22px;
  text-align: center;
  border-right: 1px solid rgba(177, 177, 177, 0.41);
  cursor: pointer;
}
.bldziI img {
  position: absolute;
  right: 0px;
  top: -15px;
}
.iWMHax {
  box-sizing: border-box;
  margin: 34px 0px 0px;
  min-width: 0px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
}
.bxUCYC {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 192px;
  height: 32px;
  border-radius: 32px;
  overflow: hidden;
  border: 1px solid rgb(230, 223, 212);
}
.gKQYDq {
  padding: 0px 10px;
  width: 100%;
  height: 40px;
  line-height: 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  color: rgb(114, 47, 13);
  font-size: 16px;
  outline: none;
  background: initial;
  border: none;
}
.dKqiQC {
  width: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  background: initial;
}
.dKqiQC img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.ZOFXG {
  position: relative;
  margin: 0px 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  height: 32px;
  user-select: none;
  padding: 0px 16px;
  background: rgb(255, 250, 242);
  border-radius: 40px;
  border: 1px solid rgb(230, 223, 212);
}
.ifctsX {
  position: relative;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  height: 32px;
  user-select: none;
  padding: 0px 16px;
  background: rgb(255, 250, 242);
  border-radius: 40px;
  border: 1px solid rgb(230, 223, 212);
}
.gWqaUM {
  font-size: 14px;
  width: 100%;
  color: rgb(114, 47, 13) !important;
}
.HtOOq {
  margin-left: 8px;
}
.kaYCuq {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.hhkkeV {
  position: absolute;
  top: 50px;
  bottom: initial;
  left: initial;
  right: 0px;
  padding: 0px;
  background: rgb(255, 250, 242);
  border-radius: 10px;
  box-shadow: none;
  min-width: 72px;
  max-width: 300px;
  width: auto;
  max-height: 0px;
  overflow: hidden auto;
  transition: all 0.3s ease 0s;
  z-index: 5;
  opacity: 1;
}
.dedSYa {
  margin: 0px;
  padding: 8px 0px;
  width: 100%;
}
.bvglgv {
  width: 148px;
  height: 40px;
  line-height: 40px;
  color: rgb(255, 122, 0);
  font-size: 14px;
  font-family: Roboto-Bold;
  cursor: pointer;
  background: #fff;
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 122, 0);
  border-image: initial;
}
.bldziI.ACTIVELEVEL {
  color: rgb(255, 122, 0);
}
.css-1s6v2o1 {
  box-sizing: border-box;
  margin: 0px 6px 0px 0px;
  min-width: 0px;
  font-size: 16px;
  color: rgb(85, 50, 32);
  font-family: Roboto-Bold;
}
.css-1td5bzp {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 16px;
  color: rgb(197, 133, 96);
  font-family: Roboto-Bold;
}
.elFodj {
  box-sizing: border-box;
  margin: -10px 0px 24px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
}
.DCYCu {
  position: relative;
  border-radius: 8px;
  padding: 8px 8px 19px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.griCmn {
  position: absolute;
  top: 14px;
  right: 8px;
  z-index: 1;
}
.csGDJC {
  box-sizing: border-box;
  margin: 0px 0px 8px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.bbWLLh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  height: 28px;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.kbNcZU {
  width: 28px;
  height: 28px;
  background-image: url(../d2mzn4jmmon2v7.cloudfront.net/static/nfts/artworks/9a2a121%c3%a2%c2%80%c2%a6.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
}
.jkFidP {
  width: 28px;
  height: 28px;
  background-image: url(../d2mzn4jmmon2v7.cloudfront.net/static/nfts/artworks/9a2a121%c3%a2%c2%80%c2%a6.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}
.jYeWpn {
  -webkit-box-flex: 1;
  flex-grow: 1;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  width: 256px;
  height: 256px;
}
.jYeWpn .imgBg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
}
.iebjEw {
  box-sizing: border-box;
  margin: 18px 0px 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.cDJipg {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Roboto-Medium;
  color: rgb(85, 50, 32);
  flex-shrink: 0;
  text-align: left;
}
.jGZRZh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100px;
  color: rgb(85, 50, 32);
  font-family: Roboto-Bold;
  font-size: 18px;
  overflow: hidden;
  text-align: right;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.jGZRZh img {
  margin-right: 4px;
}
.jGZRZh span {
  display: inline-block;
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.larsBP {
  margin-top: 30px;
  display: grid;
  row-gap: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 272px);
}
.jGZRZh img {
  margin-right: 4px;
}
.ilsEFe {
  width: 13px;
  height: 13px;
}
